.navbar {
    padding: 10px;
    color: white;
    margin-bottom: 50px; 
    background-color: #212529;

    a {
        list-style: none;
        color: white;
    }
}

.btn {
    margin-right: 50px;
    background-color: white;
    height: 40px;
    align-items: center;
}
