<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">

     <a class="navbar-brand" routerLink="home">
        {{ "WELCOME" | translate }}
     </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">
                {{ "HOME" | translate }}
            </a>
          </li>
        </ul>
      </div>

      <button mat-button [matMenuTriggerFor]="menu" class="btn">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="translateLanguage('pt')">
            {{ "PT" | translate }}
        </button>
        <button mat-menu-item (click)="translateLanguage('en')">
            {{ "EN" | translate }}
        </button>
      </mat-menu>
      
    </div>

</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" style="margin-top: 100px;">
  
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn" href="#!">
        <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
        </a>
  
        <!-- Google -->
        <a class="btn" href="#!">
          <mat-icon aria-hidden="false" aria-label="Example home icon">public</mat-icon>
        </a>
  
        <!-- Instagram -->
        <a class="btn" href="#!">
          
        </a>
      </section>

      <section class="mb-4">
        <p>
          {{ "TEXT.FOOTER.DESCRIPTION" | translate }}
        </p>
      </section>
    </div>
</footer>