/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    opacity: 0;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #212529;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #212529;  /* creates padding around scroll thumb */
}

