<carousel class="carousel" style="margin-bottom: 200px;">
    <slide class="slide">
        <img src="assets/images/1.jpg"  alt="first slide">
    </slide>
    <slide class="slide">
        <img src="assets/images/2.jpg"  alt="first slide">
    </slide>
    <slide class="slide">
        <img src="assets/images/3.jpg"  alt="first slide">
    </slide>
</carousel>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/3.jpg"  alt="first slide">
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/1.jpg"  alt="first slide">
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/2.jpg"  alt="first slide">
            <div class="card-body">
              <h3 class="card-title">Empresa especializada em Design</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
</div>
